[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "*"
tox = "*"
mypy = "*"
ruff = "*"

[requires]
python_version = "3.11"

[scripts]
check = "tox run-parallel -m check --parallel-no-spinner"
test = "tox run-parallel -m test --parallel-no-spinner"
ci = "tox run-parallel -m ci --parallel-no-spinner"
dev = "pip install --editable ."
install = "pip install ."
dist = "python setup.py sdist"
